# Required for all uses
# It takes 2 mins to get a free twilio account https://www.twilio.com/login
# Fill in your credentials below and rename this file to .env

TWILIO_ACCOUNT_SID=YourAccountSIDHere
LOCAL_AUTH_TOKEN=YourAuthTokenHere

# Or use your own STUN/TURN server
# It's a comma-separated list
# Example for Google's: ICE_SERVER_URLS=stun.l.google.com:19302,stun1.l.google.com:19302,stun2.l.google.com:19302,stun3.l.google.com:19302,stun4.l.google.com:19302,stun01.sipphone.com,stun.ekiga.net,stun.fwdnet.net,stun.ideasip.com,stun.iptel.org,stun.rixtelecom.se,stun.schlund.de,stunserver.org,stun.softjoys.com,stun.voiparound.com,stun.voipbuster.com,stun.voipstunt.com,stun.voxgratia.org,stun.xten.com
ICE_SERVER_URLS=
ICE_SERVER_USERNAME=
ICE_SERVER_CREDENTIAL=
ICE_SERVER_CREDENTIALTYPE=