# Required for all uses
# It takes 2 mins to get a free twilio account https://www.twilio.com/login
# Fill in your credentials below and rename this file to .env

TWILIO_ACCOUNT_SID=YourAccountSIDHere
LOCAL_AUTH_TOKEN=YourAuthTokenHere
