@import url("https://fonts.googleapis.com/css?family=Fira+Sans:600|Heebo:400,500,700&display=swap");

body {
    background: #16171B;
    margin: 0;
    padding: 0;
}


video {
    background: #16171a;
}

#moveable {
    z-index: 100;
    right: 14px;
    bottom: 10px;
    position: absolute;
    width: 15%;
    cursor: move;

}

#moveable p {
    z-index: 101;
    position: absolute;
    color: white;
    font-family: "Heebo", sans-serif;
    white-space: nowrap;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-weight: bold;
    background: rgba(0, 0, 0, 0.38);
    padding: 10px;
    transition: 0.5s;

}

#local-video {
    width: 100%;
    height: auto;
    border-radius: 20px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    background: #16171a;
}

#remote-video-text {
    padding: 0;
    margin: 0;
    position: absolute;
    top: calc(40%);
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;

    color: white;
    font-family: "Heebo", sans-serif;
    white-space: nowrap;
    font-weight: bold;
}

#remote-video {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 70%;
    height: auto;

    max-height: 100%;
    max-width: 100%;

    border-radius: 10px;
    background-image: url(../images/loader.gif);
    background-size: 400px auto;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 9px 9px 16px #0a0b0c, -9px -9px 16px #222328;

}


/*Neomorphic buttons*/
button {
    border: none;
    font-size: 2rem;
    transition: all .3s ease-in-out;
    color: gray;
    background: transparent;
    cursor: pointer;
    padding: 10px;
}

button:hover {
    color: white;
    border-radius: 100px;
    background: #16171a;
}

.multi-button {
    position: absolute;
    right: calc(5vw - 40px);
    top: calc(50vh - 175px);
    z-index: 999;
    border-radius: 10px;
    background: #16171a;
    box-shadow: 9px 9px 16px #0a0b0c, -9px -9px 16px #222328;
    padding: 15px;
    display: grid;
    grid-gap: 0.5rem;
    width: 50px;
}

.HoverState {
    color: white;
    font-family: "Heebo", sans-serif;
    position: absolute;
    right: 70px;
    white-space: nowrap;
    top: 25px;
    font-weight: bold;
    background: #16171a;
    padding: 10px;
    border-radius: 10px;
}

.buttonContainer {
    position: relative;
    margin: 0 auto;
}

/*Neomorphic buttons*/